@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

$color-principal: rgba(0, 0, 0, 0.8);
$color-fondo-1: rgb(50, 50, 50);
$color-fondo-blanco: white;
$color-fonts-titulos: rgb(76, 91, 122);
$color-fonts-1: rgb(255, 255, 255);
$color-fons-parrafos-negros:rgb(0, 0, 0);
$color-btn:rgb(163, 163, 165);
$color-menu:rgb(163, 163, 165);

$color-hover-mouse: yellow;

$border-colors: yellow;
$border-radius: 5px;

$font-size-h1: 60px;
$margin-h1:1%;
$margin-h3:2%;
$font-size-h3: 25px;
$font-size-p: 15px;

$font-size-h1-pantchica: 30px;
$margin-h1-pantchica:0%;
$margin-h3-pantchica:0%;
$font-size-h3-pantchica: 15px;
$font-size-p-pantchica: 10px;

$font-family-h1: 'Calibri';
$font-family-h3: 'Calibri';
$font-navbar: 'Calibri';
$font-family-p: 'Calibri';
$font-family-btn:'Calibri';

$height-navbar-logo: 100px;

//menu
$fondo-menu: rgb(85, 85, 85);
$fondo-menu-interno: rgb(95, 95, 95);


